src/main/mule/demo-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="demo-apiFlow" doc:id="f9df54e5-08c1-486b-92f4-fb170ec215f3" >
		<http:listener doc:name="Listener" doc:id="e3f3f6fc-8e6c-4e08-b57f-b928023c660f" path="/hello" config-ref="HTTP_Listener_config"/>
		<set-payload value='#["Hello Sir"]' doc:name="Set Payload" doc:id="3f7e3a3d-928f-4dd5-bf9f-8dd8f07f612e" />
	</flow>
</mule>
